<h1>Sign In</h1>
<div class="col-xl-4 pl-0">
  <div class="card">
    <div class="card-body">
      <%= form_with model: @user, url: login_method_path do |f| %>
        <% if flash[:error] %>
          <div class='alert alert-danger'><%= flash[:error] %></div>
        <% end %>
        <!--Email label and text field-->
        <div class="form-group">
          <%= label_tag(:email, "Email:", class: "col-form-label") %>
          <%= f.text_field :email, class: "form-control" %>
        </div>
        <!--Password label and text field-->
        <div class="form-group">
          <%= label_tag(:password, "Password:", class: "col-form-label") %>
          <%= f.password_field :password, class: "form-control" %>
        </div>

        <%= submit_tag "Login", class: "btn btn-ivos col-form-label" %>

      <% end %>
    </div>
  </div>
</div>
