<p>
  just test for now diff
  <br/>
  From: <%= @contact.firstName %> <%= @contact.lastName %>
  <br/>
  Subject: <%= @contact.subject %>
  <br/>
  Message: <%= @contact.message %>
  <br/>
</p>
<%= link_to "Back to website", "https://csbe-mundo.herokuapp.com" %>