<h1>Create Profile</h1>

<div class="col-xl-4 pl-0">
  <div class="card">
    <div class="card-body">
      <h2 class="d-flex justify-content-center">Register</h2>
      <%= form_with model: @user, url: create_new_user_path do |f| %>
        <% if flash[:error] %>
          <div class='alert alert-danger'><%= flash[:error] %></div>
        <% end %>

        <!--First and last name labels and text fields-->
        <div class="form-group row">
          <div class="col-xl">
            <%= label_tag(:firstName, "First Name:", class: "col-form-label") %>
            <%= f.text_field :firstName, class: "form-control" %>
          </div>
          <div class="col-xl">
            <%= label_tag(:lastName, "Last Name:", class: "col-form-label") %>
            <%= f.text_field :lastName, class: "form-control" %>
          </div>
        </div>
        <div class="form-group">
        </div>
        <!--Email label and text field-->
        <div class="form-group">
            <%= label_tag(:email, "Email:", class: "col-form-label") %>
            <%= f.text_field :email, class: "form-control" %>
        </div>
        <!--Password label and text field-->
        <div class="form-group">
            <%= label_tag(:password, "Password:", class: "col-form-label") %>
            <%= f.password_field :password, class: "form-control" %>
        </div>
        <!--Password confirmation label and text field-->
        <div class="form-group">
            <%= label_tag(:password_confirmation, "Confirm Password:", class: "col-form-label") %>
            <%= f.password_field :password_confirmation, class: "form-control" %>
        </div>

        <%= submit_tag "Register", class: "btn btn-ivos col-form-label" %>

      <% end %>
    </div>
  </div>
</div>
