<h1>About</h1>
<h2 id="about-h2">Members</h2>
<h3>Current</h3>
<div class="row">
  <div class="col-xl-5 col-lg-4 t-3 order-md-1 order-xl-2">
    <%= image_tag ("zild.jpg"), class: "img-fluid"%>
  </div>
  <p class="col-xl-7 col-lg-4 t-3 order-md-2 order-xl-1">
    Lorem ipsum
    <br> Lorem ipsum
    <br> Lorem ipsum
    <br> Lorem ipsum
    <br> Lorem ipsum
    <br> Lorem ipsum
    <br> Lorem ipsum
    <br> Lorem ipsum
    <br> Lorem ipsum
  </p>


  <p class="col-xl-7 col-lg-4 order-md-4 order-xl-4">
    Lorem ipsum
  </p>
  <div class="col-xl-5 col-lg-8 order-md-3 order-xl-3">
    <%= image_tag ("blaster.jpg"), class: "img-fluid"%>
  </div>

  <div class="col-xl-5 col-md-8 order-md-5 order-xl-6">
    <%= image_tag ("badjao.jpg"), class: "img-fluid"%>
  </div>
  <p class="col-xl-7 col-lg-4 order-md-6 order-xl-5">
    Lorem ipsum
  </p>

</div>
<h3>Past</h3>
<div class="row">
  <p class="col-xl-7 col-lg-4 order-md-8">
    Lorem ipsum
  </p>
  <div class="col-xl-5 col-lg-8 order-md-7">
    <%= image_tag ("unique.jpg"), class: "img-fluid"%>
  </div>
</div>
<div class="d-flex justify-content-center">
  <!-- SVG files used are from https://www.flaticon.com/home -->
  <!-- Original SVG files from the flaticon website are named "x_flat-icon.svg" -->
  <!-- SVGs are edited with Adobe Illustrator as the original files had blank spaces left and right. -->
  <%= link_to "https://www.instagram.com/ivofspades/", target: :_blank do %><%= embedded_svg "instagram.svg" %><% end %>
  <%= link_to "https://www.facebook.com/IVOFSPADES/", target: :_blank do %><%= embedded_svg "facebook.svg" %><% end %>
  <%= link_to "https://twitter.com/IVOFSPADES/", target: :_blank do %><%= embedded_svg "twitter.svg" %><% end %>
</div>